{% extends "base.html" %}
{% load date_extras %}
{% load gravatar %}
{% block content %}
<h1><a href="/repo/{{name}}">{{name}}</a> [ <a href="/repo/{{name}}/?b={{branch}}">{{branch}}</a> ]</h1>
<h3>commit {{commit.id}}</h3>

<p>Author: {{commit.author|gravatarURL}}</p>
<p>Date: {{commit.commit_time|date_from_unix}}</p>
<p>Message: </p>
<pre>{{commit.message}}</pre>

<p>Parents:</p>
<ul>
	{% for p in parents %}
	<li><a href="/repo/{{name}}/commit/{{p.id}}{% if branch != 'master' %}?b={{branch}}{% endif %}">{{p.message|short_message}}</a></li>
	{% endfor %}
</ul>
<div id="files">
    <p>Files</p>
    {% include "filelist.html" %}
</div>
{% endblock %}
