{% extends "base.html" %}
{% load date_extras %}
{% block content %}
<h1>repo <a href="/repo/{{name}}/branch/master/">{{name}}</a></h1>
<h3>commit {{commit.id}}</h3>

<p>Author: {{commit.author}}</p>
<p>Date: {{commit.commit_time|date_from_unix}}</p>
<p>Message: </p>
<pre>{{commit.message}}</pre>

<p>Parents:</p>
<ul>
	{% for p in commit.parents %}
	<li><a href="/repo/{{name}}/branch/{{branch}}/commit/{{p}}">{{p}}</a></li>
	{% endfor %}
</ul>
<div id="files">
    <p>Files</p>
    {% include "filelist.html" %}
</div>
{% endblock %}
