{% load date_extras %}
<table id="filetable">
    <tr>
        <td class="permission">{{000000|pretty_perm}}</td>
        <td class="filesize">{{0|filesizeformat}}</td>
        <td><a class="ajaxtree" href="..">..</a></td>
    {% for file in files %}
    <tr>
            <td class="permission">{{ file.0|pretty_perm}}</td>
            <td class="filesize">{{ file.4|filesizeformat}}</td>
            <td><a {% if file.3 == "tree" %} class="ajaxtree" {% endif %}href="/repo/{{name}}/{% if file.3 == "tree" %}filetree{% else %}file{% endif %}/{{file.2}}?f={% if path %}{{path}}/{% endif %}{{file.1}}">
                {{file.1}}
        </a></td>
        </tr>
    {% endfor %}
</table>
<script type="text/javascript">
    function bindAjax(){
        $('.ajaxtree').bind("click", treeajax);
    }
    function treeajax(a){
        a.preventDefault();
        $('#filetable').load(a.currentTarget.href + ' #filetable', function(){
                bindAjax();
        });
    }
    $(document).ready(function(){
        bindAjax();
    });
</script>
