{% load date_extras %}
<table id="filetable">
    {% for file in files %}
    <tr>
            <td class="permission">{{ file.0|pretty_perm}}</td>
            <td class="filesize">{{ file.4|filesizeformat}}</td>
            <td><a {% if file.3 == "tree" %} class="ajaxtree"{% endif %}href="/repo/{{name}}/branch/{{branch}}/{% if file.3 == "tree" %}tree{% else %}file{% endif %}/{{file.2}}?f={% if path %}{{path}}/{% endif %}{{file.1}}">
                {{file.1}}
        </a></td>
        </tr>
    {% endfor %}
</table>
<script type="text/javascript">
    function treeajax(a){
        a.preventDefault();
        $('#filetable').load(a.currentTarget.href + ' #filetable', function(){
                $('.ajaxtree').bind("click", treeajax);
                });
    }
    $(document).ready(function(){
        $('.ajaxtree').bind("click", treeajax);
        });
</script>
