{% extends "base.html" %}
{% load date_extras %}
{% block content %}
<h1>{{name}}</h1>

<a href="/">Home</a>

<div id = "refs">
	<p>Refs</p>
	<ul>
		{% for ref in refs %}
		<li><a href="/repo/{{name}}/branch/{{ref}}">{{ref}}</li></a>
		{% endfor %}
	</ul>
</div>

<div id = "commits">
	<p>Commits</p>
	<ul>
		{% for commit in commits %}
		<li>
			<span class="author">{{commit.author}}</span>
			<span class="commit_date">{{commit.commit_time|date_from_unix}}</span>
			<a href="/repo/{{name}}/commit/{{commit.id}}">{{commit.message|short_message}}</a>
		</li>
		{% endfor %}
	</ul>
</div>

<div id="files">
	<p>Files</p>
	<ul>
		{% for file in files %}
		<li><a href="/repo/{{name}}/file/{{file.2}}">{{file.1}}</a></li>
		{% endfor %}
	</ul>
</div>
{% endblock %}
